/AIO_LS_pack_Updater.elf
/AIO_LS_pack_Updater.nacp
/AIO_LS_pack_Updater.nro
/build
/dev
/aiosu-forwarder/build
/aiosu-forwarder/aiosu-forwarder.elf
/aiosu-forwarder/aiosu-forwarder.nacp
/aiosu-forwarder/aiosu-forwarder.nro
/amssu-rcm/build
/amssu-rcm/output
/Daybreak-cli/build
/Daybreak-cli/Daybreak-cli.elf
/Daybreak-cli/Daybreak-cli.nacp
/Daybreak-cli/Daybreak-cli.nro